<h1>Ajouter une adresses</h1>

<%= form_tag "/adresses", method: "post" do %> 
	Nom : 
	<input type="text" name="title" placeholder="nom de l'adresse"/> 
	
	Description : 
	<input type="text" name="description" placeholder="description"/>
	
	Prix :
	<select name="price">
	  <option value="1" selected>€</option> 
	  <option value="2">€€</option>
	  <option value="3">€€€</option>
	</select>
	
	Carte de crédit :
	<select name="credit_card">
	  <option value="true" selected>acceptée</option> 
	  <option value="false">non acceptée</option>
	</select>

	Temps pour y aller :
	<select name="time_to_go">
	  <option value="1" selected>moins de 5 minutes</option> 
	  <option value="2">entre 5 et 10 minutes</option>
	  <option value="2">entre 10 et 15 minutes</option>
	</select>

	<input type="submit" value="Ajouter cette adresse"/>
<% end %>
