<h1>Ajouter une adresses</h1>

<%= form_tag "/adresses", method: "post" do %> 
	<input type="text" name="title" placeholder="nom de l'adresse"/> 
	<input type="submit" value="Ajouter cette adresse"/>
<% end %>
