<a href="<%= adresses_path %>">retour à la liste des adresses</a>
<h1><%= @adresse.title %></h1>
<a href="<%= edit_adress_path @adresse %>">Modifier cette adresse</a>
<%= link_to 'Supprimer cette adresse', adress_path(@adresse),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>