/* ------------------------------------------------------- */
/* ---------------------- GLOBAL ------------------------- */
/* ------------------------------------------------------- */

*{
	padding: 0;
	margin: 0;
	  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-decoration: none;
}

.clearfix
{
	clear: both;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #e0e0e0;
}

.container{
	width: 100%;
}


/* ------------------------------------------------------- */
/* ---------------------- HEADER ------------------------- */
/* ------------------------------------------------------- */

.container_header{
	background-color: #fff;
	padding: 15px 20px 10px 20px;
	position: fixed;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
}

.container_header .site_title{
	font-weight: 700;
	color: #000;
	text-decoration: none;
	display: inline-block;
	padding-left: 35px;
	padding-top: 7px;
	height: 40px;
	background-image: url(hungry.png);
	background-size: 27px;
	background-repeat: no-repeat;

}

.container_header .connection{
	float: right;
	font-size: 14px;
	margin-top: 10px;
}

.container_header .connection a
{
	color: #ababab;
}

.container_header .connection a:hover
{
	text-decoration: underline;
}


.container_header .new_adresse{
	display: inline-block;
	background-color: #00BCD4;
	border-bottom: solid 4px #00ACC1;
	text-decoration: none;
	padding: 5px 10px 3px 10px;
	font-weight: 400;
	color: #fff;
	font-size: 14px;
	margin-left: 20px;
}



/* ------------------------------------------------------- */
/* ---------------------- HOME --------------------------- */
/* ------------------------------------------------------- */


.container_body{
	
	padding-top: 150px;
	padding-bottom: 50px;
}

.container_content{
	background-color: #fff;
	width: 80%;
	max-width: 1500px;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

.section{
	padding: 25px 50px 25px 50px;
}

.section_full{
	width: 100%;
}

.section_categories_list{
	text-align: center;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 50px;
}

.section_site_title{
	color: #000;
	text-align: center;
	padding-top: 50px;
}

.section_site_title h1{
	font-weight: 900;
	font-size: 50px;
}

.section_site_title .logo{
	margin-top: 35px;
}

.section h2{
	margin-bottom: 20px;
}

.last_adresses_list, .mister_lunch_list{
	width:50%;
	float: left;
	margin-bottom: 50px;
}

.last_adresses_list h2, .mister_lunch_list h2{
	border-bottom: solid 2px #ababab;
	display: inline-block;
	padding-bottom: 10px;
	font-size: 14px;
	margin-bottom: 40px;
}

.last_adresses_list h2{
	border-color:#4CAF50;
}

.mister_lunch_list h2{
	border-color:#FFC107;
}


/* ------------------------------------------------------- */
/* ---------------------- ADRESSE CARD ------------------- */
/* ------------------------------------------------------- */



.adresse_card{
	/*background-color: #009688;*/
	display: block;
	max-width: 500px;
	margin-bottom: 40px;
}

.adresse_card a{
	text-decoration: none;
}

.adresse_card .adresse_title{
	color: #000;
	font-size: 25px;
	display: block;
	font-weight: 700;
	margin-bottom: 2px;
}

.adresse_card .adresse_categories, .adresse_card .adresse_price{
	margin-bottom: 10px;
}

.adresse_card .adresse_categories{

	font-size: 14px;
	font-weight: 300;
	color: #ababab;
}

.adresse_card .adresse_categories .category_title{
	color: #ababab;
}

.adresse_card .adresse_categories .category_title:hover{
	text-decoration: underline;
}

.adresse_card .adresse_price{

}

.adresse_card .adresse_price .price{
	font-size: 14px;
	font-weight: 700;
}

.adresse_card .adresse_price .price_what{
	font-size: 14px;
}


.distance_jauge{
	width: 100%;
	height: 7px;
	border-radius: 15px;
}

.distance_jauge_level{
	height: 7px;
	color: #B2DFDB;
	font-size: 12px;
	text-align: right;
	padding-right: 4px;
	border-radius: 15px 0px 0px 15px;
	float: left;
}

.distance_value{
	float: left;
}

.last_adresses_list .distance_jauge{
 	background-color: #B9F6CA;
}

.last_adresses_list .distance_jauge_level{
	background-color: #00C853;
}

.mister_lunch_list .distance_jauge{
 	background-color: #FFFF8D;
}

.mister_lunch_list .distance_jauge_level{
 	background-color: #FFD600;
}
/* ------------------------------------------------------- */
/* ---------------------- CATEGORY CARD ------------------ */
/* ------------------------------------------------------- */



.category_card{
	background-color:#00BCD4;
	display: inline-block;
	color: #fff;
	padding: 10px 20px 6px 20px;
	margin-right: 1px;
	margin-left: 1px;
	margin-bottom: 5px;
	text-decoration: none;
	font-weight: 300;
	border-bottom: solid 4px #00ACC1;
}

.category_card .number{
	color:#4DD0E1;
	margin-left: 5px;
}




