/* ------------------------------------------------------- */
/* ---------------------- GLOBAL ------------------------- */
/* ------------------------------------------------------- */

*{
	padding: 0;
	margin: 0;
	  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-decoration: none;
}

.clearfix
{
	clear: both;
}

body{
	font-family: 'Roboto', sans-serif;
}

.container{
	width: 100%;
}

.back{
	color: #000;
	display: inline-block;
	font-weight: 700;
	margin-top: 80px;
	margin-left: 30px;
	background-image: url(back.png);
	background-repeat: no-repeat;
	background-size: 28px;
	padding: 3px 0px 0px 30px;
}

.section_site_gif{
	background-image: url(http://i.giphy.com/GkzJ2rw3ca8KI.gif);
	background-color: #4DD0E1;
    padding-top: 200px;
    padding-bottom: 180px;
    text-align: center;
    font-size: 60px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

/* ------------------------------------------------------- */
/* ---------------------- HEADER ------------------------- */
/* ------------------------------------------------------- */

.container_header{
	background-color: #fff;
	/*background-image: url(http://i.giphy.com/GkzJ2rw3ca8KI.gif);*/
	padding: 20px 20px 14px 17px;
	position: fixed;
	z-index: 999;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
	background-size: cover;
	background-position: center;
}

.container_header .site_title{
	font-weight: 700;
	color: #000;
	text-decoration: none;
	display: inline-block;
	padding-left: 35px;
	padding-top: 7px;
	height: 40px;
	background-image: url(hungry.png);
	background-size: 27px;
	background-repeat: no-repeat;
}

.container_header .connection{
	float: right;
	font-size: 14px;
}

/*.container_header .connection a
{
	color: #00BCD4;
}

.container_header .connection a:hover
{
	text-decoration: underline;
}*/

.container_header .new_adresse{
	display: inline-block;
	background-color: #4DD0E1;
	background-position: center;
	border-bottom: solid 4px #00ACC1;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	font-weight: 300;
	color: #fff;
	font-size: 14px;
	border-radius: 2px;
}

.container_header .new_adresse:hover{
}

.container_header .connection .connection_link{
	display: inline-block;
	/*background-color: #4DD0E1;*/
	background-position: center;
	border-bottom: solid 4px #00BCD4;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	font-weight: 300;
	color: #00BCD4;
	font-size: 14px;
	margin-left: 20px;
}

/*.container_header .connection a:hover{
	color:#80DEEA;
	border-color: #80DEEA;
}*/



/* ------------------------------------------------------- */
/* ---------------------- HOME --------------------------- */
/* ------------------------------------------------------- */


.container_body{
	
	padding-top: 50px;
	padding-bottom: 50px;
}

.container_content{
	background-color: #fff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}



.section{
	padding: 25px 50px 25px 50px;
}

.section_full{
	width: 100%;
}

.section_content{
	width: 80%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.section_categories_list, .section_usecases_list{
	text-align: center;
	padding-top: 60px;
	padding-bottom: 50px;
	/*padding-left: 60px;
	padding-right: 60px;*/
	/*max-width: 1000px;*/
    margin-left: auto;
    margin-right: auto;
}

.section_site_title{
	color: #000;
	text-align: center;
	padding-top: 50px;
}

.section_site_title h1{
	font-weight: 900;
	font-size: 50px;
}

.section_site_title .point{
    width: 12px;
    height: 12px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 0px;
    background-size: initial;
    background-position: center;
}

.section_site_title .logo{
	margin-top: 35px;
}

.section h2{
	margin-bottom: 20px;
}

.last_adresses_list, .mister_lunch_list{
	width:47%;
	text-align: left;
	float: left;
	margin-bottom: 50px;
}

.mister_lunch_list{
	margin-left: 6%;
}

.last_adresses_list h2, .mister_lunch_list h2{
	border-bottom: solid 2px #ababab;
	display: inline-block;
	padding-bottom: 10px;
	font-size: 14px;
	margin-bottom: 40px;
}

.last_adresses_list h2{
	/*border-color:#4CAF50;*/
	border-color:#4DD0E1;
}

.mister_lunch_list h2{
	border-color:#FFC107;
	/*border-color:#4DD0E1;*/
}


/* ------------------------------------------------------- */
/* ---------------------- ADRESSE CARD ------------------- */
/* ------------------------------------------------------- */



.adresse_card{
	/*background-color: #009688;*/
	display: block;
	max-width: 500px;
	margin-bottom: 60px;
}

.adresse_card a{
	text-decoration: none;
}

.adresse_card .adresse_title{
	color: #000;
	font-size: 25px;
	display: block;
	font-weight: 700;
	margin-bottom: 2px;
}

.adresse_card .adresse_categories, .adresse_card .adresse_price{
	margin-bottom: 10px;
}

.adresse_card .adresse_categories{

	font-size: 14px;
	font-weight: 300;
	color: #ababab;
}

.adresse_card .adresse_categories .category_title{
	color: #ababab;
}

.adresse_card .adresse_categories .category_title:hover{
	text-decoration: underline;
}

.adresse_card .adresse_price{

}

.adresse_card .adresse_price .price{
	font-size: 14px;
	font-weight: 700;
}

.adresse_card .adresse_price .price_what{
	font-size: 14px;
}


.distance_jauge{
	width: 100%;
	height: 7px;
	border-radius: 15px;
}

.distance_jauge_level{
	height: 7px;
	text-align: right;
	border-radius: 15px;
	float: left;
	background-size: cover;
	background-position: center;
	min-width: 40px;
}

.distance_value{
	display: inline-block;
	color: #fff;
	font-size: 11px;
	padding: 2px 5px 2px 5px;
	border-radius: 3px;
	min-width: 37px;
}

.last_adresses_list .distance_jauge, .categorie_adresses_list .distance_jauge{
 	/*background-color: #B9F6CA;*/
}

.last_adresses_list .distance_jauge_level, .categorie_adresses_list .distance_jauge_level{
	/*background-color: #00C853;*/
	background-color: #4DD0E1;
	/*background-image: url(http://i.giphy.com/GkzJ2rw3ca8KI.gif);*/
}

.last_adresses_list .distance_value, .categorie_adresses_list .distance_value{
	/*background-color: #00C853;*/
	background-color: #4DD0E1;
}

.mister_lunch_list .distance_jauge{
 	/*background-color: #FFFF8D;*/
}

.mister_lunch_list .distance_jauge_level{
 	background-color: #FFD600;
 	/*background-color: #4DD0E1;*/
}

.mister_lunch_list .distance_value{
	background-color: #FFD600;
	/*background-color: #4DD0E1;*/
}

.tri{
	margin-bottom:50px;
	text-align: center;
	display: none;
}

/* ------------------------------------------------------- */
/* ---------------------- CATEGORY CARD ------------------ */
/* ------------------------------------------------------- */


.category_bloc, .subcategory_bloc{
	margin-left: 0px;
	display: inline-block;
}

.category_card, .subcategory_card{
	background-color:#00BCD4;
	background-size: 250%;
	background-position: center;
	display: flex;
	float: left;
	color: #fff;
	text-align: center;
	width: 200px;
	height: 200px;
	padding: 20px 20px 20px 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	font-size: 25px;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 1px;
	vertical-align: middle;
	border-bottom: solid 0px #00ACC1;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.77);
	opacity: 1;
	transition: opacity 0.2s ease;
}

.category_card .category_title, .subcategory_card .subcategory_title{
	margin:auto;
}

.category_card .number, .subcategory_card .number{
	color:#E0F7FA;
	margin-left: 5px;
}

.category_card:hover, .subcategory_card:hover{
	opacity: 0.8;
	transition: opacity 0.2s ease;
}


/*

.category_bloc, .subcategory_bloc{
	margin-left: 3px;
	display: inline-block;
}

.category_gif, .subcategory_gif{
	height: 60px;
	float: left;
}

.category_card, .subcategory_card{
	background-color:#00BCD4;
	display: inline-block;
	float: left;
	color: #fff;
	padding: 20px 20px 6px 20px;
	margin-right: 1px;
	margin-left: 0px;
	margin-bottom: 5px;
	height: 60px;
	text-decoration: none;
	font-weight: 300;
	border-bottom: solid 4px #00ACC1;
}

.category_card .number, .subcategory_card .number{
	color:#E0F7FA;
	margin-left: 5px;
}

*/

/* ------------------------------------------------------- */
/* ---------------------- TRI ---------------------------- */
/* ------------------------------------------------------- */

.tri{

	margin-bottom: 100px;
	clear: both;
}

.tri .label{
	float: left;
	padding: 5px 10px 5px 0px;
	color: #000;
}

.tri a{
	margin-right: 5px;
	display: block;
	float: left;
	border-bottom: solid 4px #00E676;
	text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-weight: 300;
    color: #00E676;
    font-size: 14px;
}

.tri a:hover{
	border-color: #00C853;
	color: #00C853;
}

.tri .active{
	background-color: #B9F6CA;
	border-color: #00C853;
	color: #00C853;
	border-radius: 2px;
}

/* ----------------------------------------------------------------- */
/* ---------------------- SHOW ADRESSE ----------------------------- */
/* ----------------------------------------------------------------- */


.adresse_map{
	width: 100%;
	max-width: 800px;
	height: 400px;
	margin:auto;
}

.go{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	background-color: #4DD0E1;
	border-radius: 2px;
	text-align: center;
	padding:10px;
	border-bottom: solid 4px #00ACC1;
}

.section_adresse_content
{
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.section_adresse_content h2{
	font-size: 18px;
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: 30px;
}

.section_adresse_content h2 .adresse_title{
	font-weight: 900;
}

