<% #nbr = Adresse.count %>
<% numbre = Adresse.where(category_id: category.id).count %>
<a class="category_card" href="<%= category_path category %>">
		<%= category.title %> 
		
			<% if numbre != 0 %>
				<span class="number">
					<%= numbre %>
				</span>
			<% else %>
			<% end %>
</a>