<% #nbr = Adresse.count %>
<% numbre = Adresse.where(category_id: category.id).count %>



<a class="category_bloc" href="<%= category_path category %>">
	<div class="category_card" style="background-image: url(<%= category.gif %>);">
		<div class="category_title"><%= category.title %></div> 
	</div>
</a>