<% #nbr = Adresse.count %>
<% numbre = Adresse.where(category_id: category.id).count %>



<a class="category_bloc" href="<%= category_path category %>">

	<img class="category_gif" src="<%= category.gif %>"/>

	<div class="category_card">

		<%= category.title %> 
		
			<% if numbre != 0 %>
				<span class="number">
					
				</span>
			<% else %>
			<% end %>
	</div>
	<div class="clearfix">
	</div>
</a> 