<h1>Toutes les catégories</h1>

<a href="<%= new_category_path %>">Ajouter une nouvelle catégorie</a>

<br/><br/>

<% @categories.each do |category| %>
	
	<a class="category" href="<%= category_path category %>">
		<span class="category_title">
			<%= category.title %>
		</span>
	</a>
	-
	<%= link_to 'Supprimer', category_path(category.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
   	<br/>
<% end %>


