
<a class="back" href="<%= welcome_home_url %>">RETOUR</a>

<div class="section section_site_title">
	<h1 class="site_title"><%= @category.title %></h1>

	<% #gif = Giphy.random('keyword') %>
</div>

<div class="section section_categories_list">
	<% @category_subcategories.each do |subcategory| %>
		<%= render partial: "/subcategories/subcategory_card", locals: {subcategory: subcategory} %>
	<% end %>
	<div class="clearfix"></div>
</div>

<div class="section categorie_adresses_list">
	<% @category_adresses.each do |adresse| %>
		<%= render partial: "/adresses/adresse_card", locals: {adresse: adresse} %>
	<% end %>
	<div class="clearfix"></div>
</div>


