<a class="category_bloc" href="<%= usecase_path usecase %>">
	<div class="category_card" style="background-image: url(<%= usecase.gif %>);">
		<div class="category_title"><%= usecase.title %></div> 
	</div>
</a>