
<a class="back" href="javascript:history.back()">RETOUR</a>

<div class="section section_site_title">
	<h1 class="site_title"><%= @usecase.title %>
		<div alt="ceci est un point gif" class="point" style="background-image: url(<%= @usecase.gif %>)"></div>
	</h1>
</div>

<div class="section categorie_adresses_list section_content">
	<% @adresses.each do |adresse| %>
		<%= render partial: "/adresses/adresse_card", locals: {adresse: adresse} %>
	<% end %>
	<div class="clearfix"></div>
</div>